/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Arial;
    font-size: 16px;
}

a :hover {
    text-decoration: underline !important;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.termine td, .termine th {
    padding-right: 16px;
    vertical-align: top;
}


ol li {
    margin-bottom: 8px;
}

    ol li ul li {
        margin-bottom: initial;
    }


.nowrap {
    white-space: nowrap;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}


/* General Styles*/
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}

.textPadding input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 10px;
}

.non-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* LOGIN.ASPX

body  {
    background-color: #f5f5f5;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;

    padding-top: 50px;
    padding-bottom: 20px;
} */

.form-signin {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin: 1em auto 20px;
    max-width: 38.25em;
    padding: 19px 29px 29px;
}

.title-box {
    margin-bottom: 12px;
}

h2 {
    font-size: 1.5em;
    font: bold;
}

/* PROJECTLIST.ASPX */
.adminSettings {
    margin-top: 40px;
    background-color: #f5f5f5;
}

.usernSettings {
    margin-top: 40px;
    background-color: #f5f5f5;
}

.buttonFont {
    font-size: 18px;
    margin-left: 0px !important;
}

.radioButtonSettings label {
    margin-top: 10px;
    padding-left: 5px;
    margin-right: 20px;
    font-family: Arial 12px !important;
}

img.imageHeight {
    height: 55px !important;
    /*
        like img-rounded 
    */
    border-radius: 6px;
}


.doc {
    background: url("doc.png") 0.1em 50% no-repeat;
    background-size: 1em 1em;
    padding-left: 1.2em;
}

#MainContent_FileExplorer .doc {
    background: none;
    background-size: unset;
    padding-left: unset;
}

.ppt {
    background: url("ppt.png") 0.1em 50% no-repeat;
    background-size: 1em 1em;
    padding-left: 1.2em;
}

#MainContent_FileExplorer .ppt {
    background: none;
    background-size: unset;
    padding-left: unset;
}



.pdf {
    background: url("pdf.png") 0.1em 50% no-repeat;
    background-size: 1em 1em;
    padding-left: 1.2em;
}

#MainContent_FileExplorer .pdf {
    background: none;
    background-size: unset;
    padding-left: unset;
}

.xls {
    background: url("xls.png") 0.1em 50% no-repeat;
    background-size: 1em 1em;
    padding-left: 1.2em;
}

#MainContent_FileExplorer .xls {
    background: none;
    background-size: unset;
    padding-left: unset;
}

.glyph-pdf {
    background: url("pdf.png") 50% 50% no-repeat;
    background-size: 1.5em;
    padding-left: 2em;
    background-color: #fff;
}


.btnHeight {
    height: 30px;
}

.passwordForgotLogin {
    margin-top: 100px !important;
}

/* ADDNEWPROJECT.ASPX */

.imageRemoveMargin {
    margin-left: 205px;
}

.newProjectSettings {
    margin-top: 40px;
    background-color: #f5f5f5;
}

.titleSize span {
    font: 24px !important;
    margin-bottom: 10px !important;
    margin-top: 20px !important;
}

.teamSizeMarginLeft {
    margin-left: 20px;
}

/*.contentDesign .control-label {
    margin-left: 100px !important;
    text-align: left !important;
}

.contentDesign input[type="email"], input[type="submit"], .contentReservation {
    margin-left: 20px;
}*/

.contentDesign textarea {
    height: 250px;
    min-height: 140px;
    max-height: 500px;
    /*width: 740px;*/
    resize: vertical;
}

.contentRefuseDesign {
    height: 450px !important;
    min-height: 140px;
    max-height: 750px;
    resize: vertical;
}

marginLeftZero input[type="email"], input[type="submit"] {
    margin-left: 0px !important;
}

.maxImageWidth {
    max-width: 580px !important;
}

.publishProject, .greenButton {
    background-color: #A9F5A9;
}

    .publishProject:hover {
        background-color: #58FA82;
        border-color: #58FA58;
    }

.refuseProject {
    background-color: #F5A9A9;
    margin-right: 5px;
}

    .refuseProject:hover {
        background-color: #F78181;
        border-color: #FE2E2E;
        margin-right: 5px;
    }

.publishedProjectBackground {
    background-color: #A9F5A9 !important;
    border-color: #58FA58 !important;
}

.refusedProjectBackground {
    background-color: #F5A9A9 !important;
    border-color: #FE2E2E !important;
}

.passwordMarginTop, .passwordForgotTop {
    margin-top: 90px;
}

.rollbackMarginRight {
    margin-right: 5px;
}

h4 {
    margin-top: 64px;
    font-style: italic;
}

    h4:first-of-type {
        margin-top: initial;
    }


h3 {
    margin-top: 64px;
    font-style: italic;
}

    h3:first-of-type {
        margin-top: initial;
    }

small {
    color: #bbb;
    font-size: 9px;
    font-style: italic;
}

#fixedupdatepanel {
    color: black;
    margin-left: 1%;
    margin-top: 0.25%;
    position: absolute;
    float: left;
    text-align: left;
    font-size: large;
}

.floatleft {
    float: left;
}

.outerfloat {
    display: inline-block;
    width: 100%;
    align-items: center;
    text-align: center;
}

.marginProject {
    margin-left: 20px;
}

.rightbutton {
    float: right;
}

.alignbottom {
    padding-top: 7px;
}

.redButton {
    background-color: #F78181;
}

.maxWidth {
    max-width: 100% !important;
}

.display-inline {
    display: inline;
}

#example {
    text-align: center;
}

    #example .demo-container {
        display: inline-block;
        text-align: left;
    }

.demo-container .RadUpload .ruUploadProgress {
    width: 210px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    vertical-align: top;
}

html .demo-container .ruFakeInput {
    width: 220px;
}

.hidden {
    display: none;
}
